/* MAIN BODY */

* {
    box-sizing: border-box;
}

/* POPPINS FONT FOR WHOLE BODY*/

body {
    font-family: 'Poppins', sans-serif;
}

/* NAV BAR ONE*/

.nav-bar {
    width: 100%;
}

.nav-bar-one {
    height: 3.5vh;
    color: #aaa;
    background-color: #e7e7e7;
    font-size: small;
    border-bottom: #e7e7e7 2px solid;
}

/* NAV BAR TWO*/

.nav-bar-two {
    height: 8.5vh;
    border-bottom: #e7e7e7 2px solid;
    font-size: small;
    color: gray;
}

.font-icon {
    width: 15px;
    height: 25px;
}

.image {
    height: 25px;
    width: 25px;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    color: #aaa;
}

/* NAV BAR THREE*/

.nav-bar-3 {
    height: 7vh;
    color: gray;
    font-size: smaller;
    padding-left: 9%;
    padding-right: 9%;
    margin: auto;
}

.nav-bar-dropdown-section-one {
    color: #aaa;
    /* background-color: #e7e7e7; */
    position: relative;
    transition: 0.3s;
    font-size: 13px;
}

.nav-bar-dropdown-section-one:hover {
    top: -2px;
    background-color: #e7e7e7;
}

.nav-bar-dropdown-section-two {
    color: black;
}

.nav-bar-dropdown-section-four {
    font-size: 15px;
    color: #aaa;
}

.nav-bar-dropdown-section-four:hover {
    color: white;
    border-radius: 5px;
    position: relative;
    background-color: blueviolet;
    top: 5px;

}

.nav-bar-dropdown-section-three {
    color: blueviolet;
}

/* CIRCLED IMAGES HEADING */

.h5 {
    text-align: center;
    font-size: medium;
}

.container-3boxes {
    padding-top: 25px;
}

li {
    list-style-type: none;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.fashion {
    text-decoration: solid;
}

.container-circle {
    text-align: center;
}

.four-boxes {
    font-size: small;
    font-weight: bold;
}

.container-four-boxes {
    padding: 25px;
}

.vertical-heights {
    font-size: small;
    font-weight: bold;
}

.wrapper {
    display: flex;
    overflow-x: auto;
}

.wrapper::-webkit-scrollbar {
    width: 0;
}

.carousel .carousel-indicators button {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.d-flex {
    gap: 10px;
}

.dropdown-item-jeanis {
    color: #aaa;
}

.dropdown-item-jeanis:hover {
    top: 2px;
    transition: 0.3s;
    color: black;
    position: relative;
    background-color: white;
}

.demo {
    align-items: center;
}

.icon{
    color: red;
}

.logout{
    color:black;
    transition:0.3s;
    position:relative;
    
}

.logout:hover{
    top: -3px;
}